<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Playing with OpenShift</title>
  </head>

  <body>

    <section class='container'>
      <h1>Hello, World</h1>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          This
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          is
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          my
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          cool
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          page
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          &copy;
        </div>
      </div>
      <footer>
        <div class="logo"><a href="https://www.openshift.com/"></a></div>
      </footer>
    </section>
  </body>
</html>
